.calculator-container {
  max-width: 400px;
  margin: auto;
  padding-top: 20px;
}
.display {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: right;
  font-size: 2em;
  min-height: 1.5em;
  margin-bottom: 10px;
  border-radius: 5px;
  color: black;
}
ion-button {
  --padding-start: 0;
  --padding-end: 0;
  height: 60px;
  font-size: 1.2em;
}
